<div class="col-md-12">
  <div class="form-group">
    <div>
      <%= f.label :email, class: 'control-label' %>
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div>
      <%= f.label :username, class: 'control-label' %>
      <%= f.text_field :username, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div>
      <%= f.label :password, class: 'control-label' %>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      <% if @validatable %><span class="help-inline"><%= @minimum_password_length %> characters minimum.</span>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <div>
      <%= f.label :password_confirmation, class: 'control-label' %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>
  </div>
</div>
