<div class='container'>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2'>
      <div class='well'>

        <h2>Edit <%= resource_name.to_s.humanize %></h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email, class: 'col-md-4 control-label' %>
            <div class="col-md-6">
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.label :username, class: 'col-md-4 control-label' %>
            <div class="col-md-6">
              <%= f.text_field :username, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :current_password, class: 'col-md-4 control-label' %>
            <div class="col-md-6">
              <%= f.password_field :current_password, class: 'form-control' %>
              <span class='help-inline'>We need your current password to confirm your changes.</span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
              <%= f.submit "Update", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>

        <h3>Change password</h3>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.label :current_password, class: 'col-md-4 control-label' %>
            <div class="col-md-6">
              <%= f.password_field :current_password, class: 'form-control' %>
              <span class='help-inline'>We need your current password to confirm your changes.</span>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password, class: 'col-md-4 control-label' %>
            <div class="col-md-6">
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, class: 'col-md-4 control-label' %>
            <div class="col-md-6">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
              <%= f.submit "Update", class: "btn btn-primary" %>
            </div>
          </div>

        <% end %>

        <hr>
        <h3>Subscription</h3>
        <%  @subscription = current_user.subscription %>
        <% if @subscription.plan.present? %>
          <p>You're currently subscribed to the <%= @subscription.plan.name %> plan at <%= plan_price(@subscription.plan) %>. <%= link_to 'Choose Another Plan', koudoku.edit_owner_subscription_path(current_user, @subscription) %></p>
        <% else %>
          <p>You are not subscribed to a paid plan. <%= link_to 'Choose A Plan', koudoku.edit_owner_subscription_path(current_user, @subscription) %></p>
        <% end %>
        <p>Unhappy? <%= link_to "Close your account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
        
        <h3>Payment Information</h3>
        <p>The card on file for your account ends with <%= @subscription.last_four %>.</p>
        <%= link_to 'Update Payment Information', koudoku.edit_owner_subscription_path(current_user, @subscription, update: 'card') %>

      </div>
    </div>
  </div>
</div>
