<div class='container'>
  <div class='row'>
    <div class='well'>


      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
        <%= devise_error_messages! %>
        <% if ENV['ON_HEROKU'] && User.count.zero? %>
          <div class="heroku-instructions">
            <% app_name = request.host[/\A[^.]+/] %>
            <p>If you are the owner of this application, take the following steps to complete the setup:</p>

            <ul>
              <li>Read <a href="https://github.com/cantino/huginn/wiki/Run-Huginn-for-free-on-Heroku" target="_target">this
                document</a> carefully if you are going to try out Huginn for free on
                <a href="https://id.heroku.com/" target="_target">Heroku</a>.
              </li>

              <li>Install the <a href="https://toolbelt.heroku.com/" target="_target">Heroku Toolbelt</a> and run
                <kbd>heroku login</kbd>, if you haven't already.
              </li>

              <li>Run the following commands:<br/>
                <%= content_tag :pre do -%>
                  git clone https://github.com/cantino/huginn.git <%= content_tag :var, app_name %>
                  cd <%= content_tag :var, app_name %>
                  heroku git:remote -a <%= content_tag :var, app_name %>
                  cp .env.example .env
                  gem install bundler
                  bundle
                  bin/setup_heroku
                <%- end %>

              <li>This command will create an admin account for you.</li>
            </ul>
          </div>
        <% end %>

        <% if User.using_invitation_code? %>
          <div class="form-group">
            <%= f.label :invitation_code, class: 'col-md-4 control-label' %>
            <div class="col-md-6">
              <%= f.text_field :invitation_code, class: 'form-control' %>
              <span class="help-inline">We are not yet open to the public.  If you have an invitation code, please enter it here.</span>
            </div>
          </div>
        <% end %>
        <div class="col-md-8">
          <h2>Sign up for free and experience Huginn today</h2>
          <div class="benefits page-body">
            <h3>Free account</h3>
            <p>Create <em>unlimited agents</em>, <em>unlimited scenarios</em>, and get up and running for free!</p>
            <h3>Pay-for-Performance</h3>
            <p>Need to schedule agents to run more frequently? Need to retain more events for longer? Pay only for the
              features you need!</p>
            <h3>Get started now!</h3>
            <p>If you're curious to know what Huginn is all about, you'll be able to try out all the agents. We even
              start you off with a simple scenario to show you how to connect agents together.</p>
          </div>
        </div>

        <div class="col-md-4">
          <%= render partial: "common_registration_fields", locals: { f: f } %>
          <div class="form-group text-center">
            <div class="">
              <%= f.submit "Create Free Account", class: "btn btn-primary" %>
            </div>
            <!--<p class="privacy tos">Signing up signifies that you have read and agree to the-->
            <!--<a target="_blank" href="https://www.omniscope.io/policy/tos">Terms of Service</a>-->
            <!--and our <a target="_blank" href="https://www.omniscop.io/policy/privacy">Privacy Policy</a>.</p></form>-->
          </div>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
